<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
  <a class="navbar-brand" href="#">Ficha Clinica</a>
  <button class="btn btn-success ml-auto mr-1">Always Show</button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav text-right">
          <li class="nav-item active" *ngIf="isPaciente">
              <a class="nav-link" href="#" >Plan Sanitario</a>
          </li>
          <li class="nav-item active" *ngIf="isPaciente">
              <a class="nav-link" href="#" >Historial</a>
          </li>
          <li class="nav-item active" *ngIf="isPaciente">
            <a class="nav-link" href="#" >Complementarios</a>
        </li>
      </ul>
  </div>
</nav>